{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
  
  <div class="container text-center">
    <form method="post" action="{% url 'base:preferences' %}">
      {% csrf_token %}
    
      {% for field in form %}
        {% if field.field.widget.input_type == 'radio' %}
          <div class="display-6 p-3">{{ field.label }}</div>
          {% for choice in field %}
            <div class="p-2">
              <div class="card" style="cursor: pointer; min-height: 6rem;" onclick="selectRadio(this, '{{ choice.id_for_label }}')">
                <div class="card-body d-flex flex-column justify-content-center">
                  <h5 class="card-title">
                    <label class="form-check-label">
                      {{ choice.tag }}
                      {{ choice.choice_label }}
                    </label>
                  </h5>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  

  <script>
    function selectRadio(card, radioId) {
      // Remove the 'selected' class from all cards
      const cards = document.querySelectorAll('.card');
      cards.forEach(function(item) {
        item.classList.remove('selected');
      });

      // Add the 'selected' class to the clicked card
      card.classList.add('selected');

      // Check the corresponding radio input
      document.getElementById(radioId).checked = true;
    }
  </script>

  <style>
    .selected {
      background-color: #007bff;
      color: #fff;
      transition: 0.5s;
    }

    /* Hide radio buttons */
    input[type="radio"] {
      display: none;
    }
  </style>
{% endblock main_content %}
