{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center m-2">
  <img class="pb-4 img-fluid rotate-continuously" src="{% static 'img/favicon/android-chrome-512x512.png' %}" alt="brand-logo" width="100">
  <div class="display-5">Welcome to German Vocabulary</div>
  <div class="display-6">Log in or Sign up to Continue</div>
  <div class="pt-4">
    <a href="{% url 'account_login' %}"><button class="btn btn-outline-secondary" type="button">Log in</button></a>
    <a href="{% url 'account_signup' %}"><button class="btn btn-outline-dark" type="button">Sign up</button></a>
  </div>
</div>
{% endblock content %}
