{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Flashcards" %}{% endblock head_title %}

{% block main_content %}
  <div class="container cardContainer fade-in-container pt-3 pe-3">
    <div class="flashcard" id="flashCard">
      <div class="front">
        <h2>Buch</h2>
      </div>
      <div class="back">
        <h2>das Buch</h2>
        <h3>Book</h3>
        <p>Das ist mein Buch.</p>
        <p>This is my book.</p>
        <button id="playButton" onclick="changeText()">Click me</button>
      </div>
    </div>
  </div>
  <div class="container text-center pt-3">
    <a href="{% url 'cards:home' %}" class="cardButton me-2"><i class="fa-solid fa-circle-left"></i></a>
    <a href="{% url 'cards:home' %}" class="cardButton"><i class="fa-solid fa-circle-right"></i></a>
  </div>
  <audio id="flipAudio" src="{% static 'cards/audio/flip_card.mp3' %}"></audio>
  <script src="{% static 'cards/scripts/base.js' %}"></script>
{% endblock main_content %}
