{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Words" %}{% endblock head_title %}

{% block main_content %}
  <div class="row justify-content-center pt-5 ps-4 pe-4">
    {% for obj in object_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <a href="{% url 'words:detail' slug=obj.pk %}">
          <div class="card word text-bg-light mb-3" style="max-width: 18rem; min-height: 10rem;">
            <div class="card-header inline-content" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <div style="text-align: left;">
                {% for article in obj.articles.all %}
                  <span class="badge bg-secondary">{{ article }}</span>
                  <!-- {% if not forloop.last %}&nbsp;{% endif %} -->
                {% endfor %}
              </div>
              <div style="text-align: right;">
                <span class="badge bg-dark">{{ obj.level|upper }}</span>
                <span class="badge bg-dark">{{ obj.language|upper }}</span>
              </div>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-dark">
                {{ obj.title }}
              </h5>
              <p class="card-text">
                <span class="badge rounded-pill bg-secondary">{{ obj.sentence }}</span>
              </p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock main_content %}
