{% extends "account/base_entrance.html" %}

{% load i18n allauth %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Update Profile" %}{% endblock head_title %}

{% block content %}
  {% element h1 %}{% trans "Update Profile" %}{% endelement %}
    {% url "users:profile_update" as action_url %}
    <form class="signup" method="post" action="{{ action_url }}">
      {% csrf_token %}
      <div>{{ form|crispy }}</div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="d-grid gap-2 col-12 mx-auto">
        <button type="submit" class="btn btn-success">{% trans "Update" %}</button>
      </div>
    </form>
{% endblock content %}
