html, body {
  height: 100%;
}

a {
  text-decoration: none !important;  /* Hide underline from anchor tags */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-continuously {
  animation: rotateAnimation 20s infinite linear;  /* Adjust the duration as needed */
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 600;
  font-style: normal;
}
