html, body {
  height: 100%;
}

a {
  text-decoration: none !important;  /* Hide underline from anchor tags */
}

.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-continuously {
  animation: rotateAnimation 20s infinite linear;  /* Adjust the duration as needed */
}

.dotted-line {
    border-top: 2px dotted floralwhite; /* Change the color as needed */
    width: 80%;
    margin: 10px 0; /* Adjust margin as needed */
}
