{% extends "account/base_entrance.html" %}

{% load crispy_forms_tags %}

{% load allauth i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
  {% element h1 %}{% trans "Change Password" %}{% endelement %}
  {% url 'account_change_password' as action_url %}

  <form method="post" action="{{ action_url }}">
    {% csrf_token %}
    <div>{{ form|crispy }}</div>
    <div class="d-grid col-12 mx-auto">
      <button type="submit" class="btn btn-success btn-block">{% trans "Change Password" %}</button>
    </div>
  </form>
{% endblock content %}
