{% extends "account/base_entrance.html" %}

{% load i18n allauth account %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
  {% element h1 %}{% trans "Password Reset" %}{% endelement %}
  {% if user.is_authenticated %}{% include "account/snippets/already_logged_in.html" %}{% endif %}
  <p>
    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
  </p>
  {% url 'account_reset_password' as action_url %}
  <form class="login" method="post" action="{{ action_url }}">
    {% csrf_token %}
    <div>{{ form|crispy }}</div>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-grid col-12 mx-auto">
      <button type="submit" class="btn btn-success btn-block">{% trans "Reset Password" %}</button>
    </div>
  </form>
{% endblock content %}
