{% extends "account/base_manage_password.html" %}

{% load i18n allauth %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
  {% element h1 %}{% trans "Set Password" %}{% endelement %}
  {% url 'account_set_password' as action_url %}

  <form class="login" method="post" action="{{ action_url }}">
    {% csrf_token %}
    <div>{{ form|crispy }}</div>
    <div class="d-grid col-12 mx-auto">
      <button type="submit" class="btn btn-success btn-block">{% trans "Set Password" %}</button>
    </div>
  </form>
{% endblock content %}
