{% extends "account/base_entrance.html" %}

{% load i18n allauth %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}
  {% element h1 %}{% trans "Sign Up" %}{% endelement %}
    <p>
      {% blocktrans %}
        Already have an account? Then please
        <a style="text-decoration: none !important" href="{{ login_url }}">sign in</a>.
      {% endblocktrans %}
    </p>

    {% url 'account_signup' as action_url %}
    <form class="signup" method="post" action="{{ action_url }}">
      {% csrf_token %}
      <div>{{ form|crispy }}</div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="d-grid gap-2 col-12 mx-auto">
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
        <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
{% endblock content %}
