{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Flashcards" %}{% endblock head_title %}

{% block main_content %}
  <div class="container d-flex justify-content-center" >
    {% include 'cards/messages.html' %}
  </div>
  <div class="container d-flex justify-content-center text-center">
    <div class="cardContainer card-text-color fade-in-container text-shadow pt-4 ps-2 pe-2">
      <div class="flashcard" id="flashCard">
        <div class="front">
          <div class="display-3 style-script-regular">{{ object.primary_word.title }}</div>
            {% if object.primary_word.linked_words.all %}
              <div class="ms-2 me-2 mt-5" style="font-size: 1.2rem;">
                <span class="badge bg-success rounded-pill card-text-color">
                  <i class="fa-solid fa-link"></i>
                  {% trans "Linked Words" %}
                </span>
              </div>
              <div id="linkedWords">
                {% for word in object.primary_word.linked_words.all %}
                  <a href="{% url 'cards:detail' slug=word.pk %}" class="style-script-regular linked-word card-text-color ms-2 me-2" onclick="preventCardRotation()">{{ word.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <div class="back">
          <div style="font-size: 1.5rem;">
            <!-- article -->
            {% for article in object.primary_word.articles.all %}
              <span class="badge bg-primary rounded-pill">{{ article }}</span>
              <!-- {% if not forloop.last %}&nbsp;{% endif %} -->
            {% endfor %}

            <!-- part_of_speech -->
            {% for part_of_speech in object.primary_word.parts_of_speech.all %}
              {% for word in part_of_speech.bundle.words.all %}
                {% if object.primary_word.language.code == word.language.code %}
                  <span class="badge bg-secondary rounded-pill">{{ word.title }}</span>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

          <div class="display-5 style-script-regular">{{ object.primary_word.title }}</div>
          <div class="ms-2 me-2" style="font-size: 1.5rem;">{{ object.primary_word.sentence }}</div>
          <i class="fa-regular fa-circle-play" id="playButton" onclick="playText('{% url 'speech:tts' %}', '{{ object.primary_word.sentence }}', '{{ object.primary_word.language.code }}')"
               style="font-size: 2.5em;"></i>

          <div class="dotted-line"></div>

          <div class="display-5 style-script-regular">{{ object.secondary_word.title }}</div>
          <div class="ms-2 me-2" style="font-size: 1.5rem;">{{ object.secondary_word.sentence }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center pt-3">
      <a href="{% url 'cards:previous' slug=object.primary_word.pk %}" class="cardButton me-2"><i class="fa-solid fa-circle-left"></i></a>
      <a href="{% url 'cards:any' %}" class="cardButton me-2"><i class="fa-solid fa-rotate"></i></a>
      <a href="{% url 'cards:next' slug=object.primary_word.pk %}" class="cardButton"><i class="fa-solid fa-circle-right"></i></a>
    </div>
  </div>
  <audio id="flipAudio" src="{% static 'cards/audio/flip_card.mp3' %}"></audio>

  <script src="{% static 'cards/scripts/base.js' %}"></script>
  <script src="{% static 'cards/scripts/loadCard.js' %}"></script>
  <script src="{% static 'cards/scripts/tts.js' %}"></script>
  <script src="{% static 'cards/scripts/ttsAPI.js' %}"></script>
  <script src="{% static 'cards/scripts/messages.js' %}"></script>
{% endblock main_content %}
