{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Flashcards" %}{% endblock head_title %}

{% block main_content %}
  <div class="container d-flex justify-content-center" >
    {% include 'base/messages.html' %}
  </div>
  <div class="container d-flex justify-content-center style-script-regular">
    <div class="cardContainer fade-in-container pt-3 text-shadow">
      <div class="flashcard" id="flashCard">
        <div class="front">
          <div class="display-1">{{ object.title }}</div>
        </div>
        <div class="back">
          <div class="patrick-hand-regular" style="font-size: 2rem;">
              {% for article in object.articles.all %}
                <span class="badge bg-primary rounded-pill">{{ article }}</span>
                <!-- {% if not forloop.last %}&nbsp;{% endif %} -->
              {% endfor %}
            </div>
          <div class="display-3">{{ object.title }}</div>
          <div class="display-6">{{ object.sentence }}</div>
          <i class="fa-regular fa-circle-play" id="playButton" onclick="playText('{{ object.sentence }}', 'de-DE')"
               style="font-size: 3em;"></i>

          <div class="dotted-line"></div>

          <div class="display-3">{{ "Book" }}</div>
          <div class="display-6">{{ "This is my book." }}</div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center pt-3">
      <a href="{% url 'cards:previous' slug=object.pk %}" class="cardButton me-2"><i class="fa-solid fa-circle-left"></i></a>
      <a href="{% url 'cards:any' %}" class="cardButton me-2"><i class="fa-solid fa-rotate"></i></a>
      <a href="{% url 'cards:next' slug=object.pk %}" class="cardButton"><i class="fa-solid fa-circle-right"></i></a>
    </div>
  </div>
  <audio id="flipAudio" src="{% static 'cards/audio/flip_card.mp3' %}"></audio>

  <script src="{% static 'cards/scripts/base.js' %}"></script>
  <script src="{% static 'cards/scripts/loadCard.js' %}"></script>
  <script src="{% static 'cards/scripts/tts.js' %}"></script>
{% endblock main_content %}
