{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Flashcards" %}{% endblock head_title %}

{% block main_content %}
  <div class="container d-flex justify-content-center">
    <div class="cardContainer fade-in-container pt-3">
      <div class="flashcard" id="flashCard">
        <div class="front">
          <h2>{{ object.title }}</h2>
        </div>
        <div class="back">
          <div>
              {% for article in object.articles.all %}
                <span class="badge bg-secondary">{{ article }}</span>
                <!-- {% if not forloop.last %}&nbsp;{% endif %} -->
              {% endfor %}
            </div>
          <h2>{{ object.title }}</h2>
          <p>{{ object.sentence }}</p>
          <h3>Book</h3>
          <p>This is my book.</p>
          <i class="fa-regular fa-circle-play" id="playButton" onclick="playText('{{ object.sentence }}', 'de-DE')"
             style="font-size: 3em;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center pt-3">
      <a href="{% url 'cards:home' %}" class="cardButton me-2"><i class="fa-solid fa-circle-left"></i></a>
      <a href="{% url 'cards:home' %}" class="cardButton"><i class="fa-solid fa-circle-right"></i></a>
    </div>
  </div>
  <audio id="flipAudio" src="{% static 'cards/audio/flip_card.mp3' %}"></audio>

  <script src="{% static 'cards/scripts/base.js' %}"></script>
  <script src="{% static 'cards/scripts/loadCard.js' %}"></script>
  <script src="{% static 'cards/scripts/tts.js' %}"></script>
{% endblock main_content %}
