.centered-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centered-content {
  text-align: center;
}

.centered-buttons {
  margin-top: 2rem;
}
