{% load static %}

{% load i18n %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'base:home' %}">
      <img src="{% static 'base/images/favicon/android-chrome-512x512.png' %}" alt="brand-logo" height="24" class="d-inline-block align-text-top">
      German Vocabulary
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Left Section -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'words:list' %}">
            <i class="fa-regular fa-file-word me-2"></i>{% trans "Words" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cards:any' %}">
            <i class="fa-solid fa-file me-2"></i>{% trans "Flashcard" %}</a>
        </li>
      </ul>

      <!-- Divider between left and right sections (visible in mobile version) -->
      <hr class="d-lg-none">

      <!-- Right Section -->
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="fa-regular fa-id-card me-2"></i>{% trans "Account" %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end width-auto" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item text-nowrap" href="{% url 'users:profile' slug=request.user.username %}">
                  <i class="fa-solid fa-user me-2"></i>{% trans "Profile" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item text-nowrap" href="{% url 'account_logout' %}">
                  <i class="fa-solid fa-up-right-from-square me-2"></i>{% trans "Log Out" %}
                </a>
              </li>
            </ul>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">
              <i class="fa-solid fa-user-plus me-2"></i>{% trans "Sign Up" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">
              <i class="fa-solid fa-right-to-bracket me-2"></i>{% trans "Log In" %}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
