{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
  {% url action_url_name as action_url %}
  <div class="container d-flex justify-content-center pt-4 pb-4">
    <div class="card shadow profile pt-4 pb-2">
      <div class="card-body">
        <h5 class="card-title text-center">{% trans title %}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% include "base/components/form.html" %}
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock main_content %}
