* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer {
  perspective: 600px;
  height: 520px;
  width: 320px;
}

.card-text-color {
  color: rgb(211, 211, 211);
}

.card-text-color:hover {
  color: rgb(211, 211, 211);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.rotate {
  transform: rotateY(-180deg);
  cursor: pointer;
}

.flashcard {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 4rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.front {
  background: linear-gradient(to top, #0097B2, #7ED957);
}

.back {
  background: linear-gradient(to top, #004AAD, #5DE0E6);
  transform: rotateY(180deg);
}

.cardButton {
  font-size: 3em;
  color: #004AAD;
  transition: color 0.5s ease;
}

.cardButton:hover {
  color: #0097B2;
}

.fade-in-container {
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 0.5s ease; /* Add a transition for the opacity property over 1 second */
}

.fade-in-container.loaded {
  opacity: 1; /* Set opacity to 1 when the loaded class is added */
}

.linked-word {
  font-size: 3rem;
  transition: 100ms;
}

.linked-word:hover {
  font-size: 3.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
