.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.0); /* Set the background color to transparent */
}

#autoCloseModal .modal-content {
  background: none;
  border: none;
  box-shadow: none;
}

#autoCloseModal .modal-body {
  background: none;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
}
