.card.word {
  border-radius: 15px;
}

.card.word:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add your desired shadow values */
  transition: box-shadow 0.3s; /* Add a smooth transition effect */
}

.inline-content {
  display: flex; justify-content: space-between;
}
